body {
  background-color: #f8f9fa;
}

body.bg-dark {
  background-color: #343a40;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card.bg-secondary {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1, h3 {
  color: #343a40;
}

.text-white h1, .text-white h3 {
  color: #ffffff;
}

pre {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
}

pre.bg-dark {
  background-color: #495057;
}

.btn-primary {
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.table {
  margin-bottom: 0;
}

.table th, .table td {
  white-space: nowrap; /* Prevent text wrapping */
  padding: 0.75rem; /* Consistent padding */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-dark .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-responsive {
  overflow-x: auto; /* Ensure horizontal scroll on small screens */
}

.chart-container {
  position: relative;
  height: 300px; /* Fixed height for charts */
  overflow: hidden; /* Prevent content from overflowing */
}
